/* Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* CSS Externo */

/* Definir as cores Tema Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
    --cor-fundo: #1b1b1b;
    --cor-texto: #e9e9e9;
    --menu-link: #ffffff;

    --cor-borda: #ff00a2;
    --cor-header:#8af0d6;
    --cor-icone:#ffffff;
}
/* Fundo Branco */
:root[data-theme='light'] {

    --cor-fundo: #ffffff;
    --cor-texto: #1b1b1b;
    --menu-link: rgb(0, 0, 0);

    --cor-borda: #00fbff;
    --cor-header:#ff9fc7;
    --cor-icone:#000000;

}

/* Inverter Cor LOGO = Filtro */
html[data-theme='light'] .logo {
    filter: invert(1);
}

/* Reset CSS = Padronizar */
/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-fundo); /* cor fundo  */
    color: var(--cor-texto); /* cor TEXTOS */
    font-family: 'Courier New', Courier, monospace;
}

a {
    color:var(--menu-link);
    text-decoration: none;
}
i{
    color: var(--cor-icone);
}

ul {
    list-style: none;/* Estilo de Lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--cor-header);
    border-bottom: 2px solid var(--cor-borda);
    position: fixed;
    z-index: 9999; /* Camadas */


}

.menu-desktop{
    display: none;
    /* esconde o menu desktop */
}
/* NAV */
.menu {
    display: flex; /* em linha // horizontal */
    gap: 1rem; /* 16px */
    align-items: center;
}

/* LI = listas */
.menu-item {
    width: 100%; 
}

.menu-link{
    display: flex;
    align-items: center;
}

.menu-text {
    color: var();
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* -----Menu Hamburger
botao menu mobile
----- */

#menuHamburger{
    margin-left: 1rem;
}

.btn-menu-mobile {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.menu-mobile { /* NAV */
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh; /* viewPort Altura */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: .3s ease-in-out;
    transform: translateX(100%);

}

/* Ativar o Menu Mobile */
.menu-mobile.active {
    transform: translateX(0%);
}

.menu-mobile /* NAV */
.menu-list /* UL */ {
    display: flex;
    flex-direction: column; /* EIXO = Vertical */
    gap: 1rem;
    width: 50%;
    padding: 1rem 1rem 2rem;
}

.menu-mobile .menu-item {
    width: 100%;
    text-align: center;
}

.menu-mobile .menu-link {
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;

}

.logo {
    width: 4rem; /* comprimento */
    height: auto; /* altura */
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#home {
    padding: 4.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    font-family: "Tinos", serif;
}

h2{
    font-family: "Tinos", serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
}

h3 {
    font: 1.55rem;
    font-family: "Tinos", serif;
    font-weight: bold;
    font-style: italic;
}
.video iframe {
    aspect-ratio: 16/9;
    font-family: "Tinos", serif;
}


   #home,
   .servicos,
   .sobre,
   .contato {
    padding: 2.5rem 1rem;
}

.descricao-video {
    display: flex;
    flex-direction: column;
    background: #8af0d6;
    padding: 6.25rem 1rem 2rem;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    margin-top: -6.5rem;
}

.descricao-video h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: -2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* letter-spacing: ; */

}

.servicos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.servicos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.servico-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.img-card {
    width: 100%;
    border-radius: .5rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.card-titulo {
    color: #ff00a2; /* Cor do Texto */
    font-size: 1rem; /* Tamanho texto */
    font-weight: 2rem; /* largura das letras */
    font-family: 'Courier New', Courier, monospace; /* Estilo das fontes */

}

.card-descricao {
    color: #8af0d6; /* Cor do Texto */
    font-size: 1rem; /* Tamanho texto */
    font-weight: 2rem; /* largura das letras */
    font-family: 'Courier New', Courier, monospace; /* Estilo das fontes */

}

.card.lista {
    color: #000000; /* Cor do Texto */
    font-size: 1rem; /* Tamanho texto */
    font-weight: 2rem; /* largura das letras */
    font-family: 'Courier New', Courier, monospace; /* Estilo das fontes */

}

/* Medidas Responsivas */
@media (min-width: 768px) {


      
      .menu-desktop {
        display: flex;
        min-width: 30%;
      }

      .btn-menu-mobile {
        display: none;
      }
      .header-toggle {
        min-width: 30%; /* alinhar o logo */
      }

      header {
        padding: 1rem 6rem;
      }

      h1 {
        font-size: 5rem;
      }

      h2 {
        font-size: 3rem;
      }

      h3 {
        font-size: 2rem;
      }

      #home, 
      .servicos,
      .sobre {
        padding: 8rem 6rem 4rem 6rem;
      }
      .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
} /* FIM min 768px */

@media (min-width: 992px) {
    .servico-card {
        flex-direction: row;
    }
    .img-card {
        /* Tamanho das Fotos */
        width: 55%;
    }
    
    


}

@media (min-width: 1200px) {
    h2 {
        font-size: 4rem;
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 6.5rem;
    }

    h2 {
        font-size: 4.5rem;
    }

    h3 {
        font-size: 3.25rem;
    }

    .descricao-video,
    .servicos,
    .sobre {
        padding: 10rem 15rem 4rem;
    }



}





